<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="css/book-style.css">
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <div class="fluid-container d-flex">
        <%- include('../includes/side-bar.ejs')%>
        <div class="col-md-9 d-flex" style="height: fit-content;">
            <div class="card w-100 text-left">
                <div class="card-body">
                    <div class="row text-align-center">
                        <div class="col-md-6 mb-3">
                            <h4 class="card-title">Popular Books</h4>
                        </div>
                        <div class="col-md-6 mb-3 d-flex justify-content-end">
                            <a href="/create-book" class="btn rounded-pill">Add Book</a>
                        </div>
                    </div>
                    <% if (books.length > 0) { %>
                    <table class="display table table-striped table-bordered" style="width:100%">
                         <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Created at</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <% books.forEach(function(book) { %>
                            <tr>
                                <td id="title"><%= book.title %></td>
                                <td id="author">
                                    <% if (book.Author) { %>
                                      <%= book.Author.name %>
                                    <% } else { %>
                                      Unknown
                                    <% } %>
                                  </td>
                                <td class="text-center"><span class=" category"><%= book.category%></span></td>
                                <td class="text-center"><%= book.createdAt.toLocaleDateString() %></td>
                                <td class="text-center">
                                    <div class="center">
                                        <a class="icon" href="/books/<%= book.id%>"><ion-icon name="eye-outline"></ion-icon></a>
                                        <a class="icon" href="/edit-book/<%= book.id%>?edit=true"><ion-icon name="pencil-outline"></ion-icon></a>
                                        <form action="/delete-book" method="post">
                                            <input type="hidden" name="bookId" value="<%= book.id%>">
                                            <button type="submit" class="remove-icon" ><ion-icon name="trash-outline"></ion-icon></button></td>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody> 
                    </table>
                    <% } else { %>
                        <td>No Book Available Yet!</td>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/end.ejs')%>